@model IEnumerable<HMSBO.ViewModels.VmAppoinment>
@{ 
    Layout = null;
    int sl = 0;
}
<div class="col-md-12 text-sm" style="overflow-y:scroll">
    <table class="table table-bordered table-sm table-striped" id="tblPartsUsed">
        <thead class="btn-info">
            <tr class="text-center">
                <th style="vertical-align:middle">#SL</th>
                <th class="hide"></th>
                <th style="vertical-align:middle">Doctor Name</th>
                <th style="vertical-align:middle">Patient Name</th>
                <th style="vertical-align:middle">Address</th>
                <th style="vertical-align:middle">Mobile No</th>
                <th style="vertical-align:middle">Age</th>
                <th style="vertical-align:middle">Shift</th>
                <th style="vertical-align:middle">Appoin Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                sl = sl + 1;
                string appdate = item.AppoinmentDate != null ? item.AppoinmentDate.Value.ToString("dd-MMM-yyy") : "";
                <tr>
                    <td class="text-center">@sl</td>
                    <td class="hide">@item.AppId</td>
                    <td>@item.DoctorName</td>
                    <td>@item.PatientName</td>
                    <td>@item.PatientAddress</td>
                    <td>@item.PatientMobile</td>
                    <td>@item.Age</td>
                    <td>@item.Shift</td>
                    <td>@appdate</td>
                </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr class="text-center empty-row">
                    <td colspan="9">
                        No Rows Found
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
