@{
    //string menuId = User.UserId.ToString();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>

    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Content/DataTable/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
    <!-- Site styles-->
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />

    <!-- Theme style -->
    @*<link href="~/Content/dist/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/Content/dist/css/icheck-bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/select2-bootstrap4.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <link href="~/Content/dist/css/OverlayScrollbars.min.css" rel="stylesheet" />
    <link href="~/Content/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    @RenderSection("styles", false)*@
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        @if (User.Identity.IsAuthenticated)
        {
            { Html.RenderAction("MenuItem", "Common", null); }@*Side Menu Bar*@
        }

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                @if (User.Identity.IsAuthenticated)
                {
                    { Html.RenderAction("TopBar", "Common", null); }@*Side Menu Bar*@
                }
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <div id="renderBody">@RenderBody()</div>
                </div>
                <!-- /.container-fluid -->
                <!-- Alert Section -->
                <!-- End of Alert Section -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            @*<footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; PlayOn24 @DateTime.Now.Year.ToString()</span>
                </div>
            </div>
        </footer>*@
            <footer class="main-footer">
                <!-- To the right -->
                <div class="float-right d-none d-sm-inline">
                    Developed &amp; Maintained By <a style="color:blue" href="http://playon24.com.bd/" target="_blank">PlayOn24</a>
                </div>
                <!-- Default to the left -->
                <strong>Copyright &copy; @DateTime.Now.Year.ToString() -</strong> All rights reserved.
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("LogOut", "Account")">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    }
    <!-- Bootstrap core JavaScript-->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/DataTable/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    <script src="~/Scripts/jquery-ui.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin-2.min.js"></script>

    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/download.js"></script>

    <script type="text/javascript">
                        //$(document).ready(function () {
                        //    // Don't Remove This Code
                        //    $(document).on('click', 'a.navLink', function (e) {
                        //        e.preventDefault();
                        //        UIReloading($(this).attr('data-url'));
                        //    })
                        //    // Don't Remove This Code
                        //})
    </script>



    @RenderSection("Scripts", false)


</body>
</html>