@model IEnumerable<HMSBO.ViewModels.VmLoanDistribution>
@{
    Layout = null;
    int sl = 0;
    string badge = string.Empty;
}
<div class="col-md-12 text-sm" style="overflow-y:scroll">
    <table class="table table-bordered table-sm table-striped" id="tblLoanDistributionList">
        <thead class="btn-info" style="background-color:#552eb3">
            <tr class="text-center">
                <th style="vertical-align:middle">#SL</th>
                <th class="hide"></th>
                <th style="vertical-align:middle">Action</th>
                <th style="vertical-align:middle">Member Code</th>
                <th style="vertical-align:middle">Member Name</th>
                <th style="vertical-align:middle">Address</th>
                <th style="vertical-align:middle">Mobile No</th>
                <th style="vertical-align:middle">Loan Status</th>
                <th style="vertical-align:middle">Loan Code</th>
                <th style="vertical-align:middle">Loan Amount</th>
                <th style="vertical-align:middle">Scheme</th>
                <th style="vertical-align:middle">Net Payable</th>
                <th style="vertical-align:middle">Daily Payable</th>
                <th style="vertical-align:middle">Ref. Name</th>
                <th style="vertical-align:middle">Ref. Mobile</th>
                <th style="vertical-align:middle">Remarks</th>
                <th style="vertical-align:middle">Distribution Date</th>
                <th style="vertical-align:middle">Entry User</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                sl = sl + 1;
                string disDate = item.EntryDate != null ? item.EntryDate.Value.ToString("dd-MMM-yyy") : "";
                badge = item.LoanStatus == "Running" ? "badge bg-success" : "badge bg-danger";
            <tr>
                <td class="text-center">@sl</td>
                <td class="hide">@item.LDisId</td>
                <td>
                    <a href="#" class="btn btn-sm btn-outline-info data-item-details" data-item-details="@item.LDisCode" title="View Loan Details">
                        <i class="fas fa-eye"></i>
                    </a>
                    @if (item.LoanStatus == "Running")
                    {
                        <a href="#" class="btn btn-sm btn-outline-success data-item-edit" data-item-edit="@item.LDisId" title="Update Loan Status">
                            <i class="fas fa-edit"></i>
                        </a>
                    }
                </td>
                <td>@item.MemberCode</td>
                <td>@item.MemberName</td>
                <td>@item.MemberAddress</td>
                <td>@item.MemberMobile</td>
                <td class="text-center" data-val="@item.LoanStatus">
                    <span class="@badge" style="color:white">@item.LoanStatus</span>
                </td>
                <td>@item.LDisCode</td>
                <td class="text-right">@item.LoanAmount.ToString("0.00")</td>
                <td class="text-center">@item.SkimName</td>
                <td class="text-right">@item.NetPayable.ToString("0.00")</td>
                <td class="text-right">@item.DailyPayable.ToString("0.00")</td>
                <td>@item.RefName</td>
                <td>@item.RefMobile</td>
                <td>@item.Remarks</td>
                <td>@disDate</td>
                <td>@item.EntryUser</td>
            </tr>
            }
            @if (Model.Count() == 0)
            {
                <tr class="text-center empty-row">
                    <td colspan="15">
                        No Rows Found
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


